[submodule "bundle/vim-buftabline"]
	path = bundle/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "bundle/scratch.vim"]
	path = bundle/scratch.vim
	url = https://github.com/vim-scripts/scratch.vim
[submodule "bundle/vim-fish"]
	path = bundle/vim-fish
	url = https://github.com/dag/vim-fish
[submodule "bundle/DidYouMean"]
	path = bundle/DidYouMean
	url = https://github.com/EinfachToll/DidYouMean/
[submodule "bundle/vim-fswitch"]
	path = bundle/vim-fswitch
	url = https://github.com/slycelote/vim-fswitch
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/vim-focusclip"]
	path = bundle/vim-focusclip
	url = https://github.com/idbrii/vim-focusclip
[submodule "bundle/Apprentice"]
	path = bundle/Apprentice
	url = https://github.com/romainl/Apprentice
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession
